<div class="container">
  <h1>Create Employee Form</h1>
  <form #createForm = 'ngForm' (ngSubmit)= 'createEmployee()'>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" name="first_name" required placeholder="John" [(ngModel)]="employee.first_name">
    </div>
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" name="last_name" required placeholder="Doe" [(ngModel)]="employee.last_name">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" name="email" required placeholder="johndoe@example.com" [(ngModel)]="employee.email">
    </div>
    <div class="form-group">
      <label for="alterEgo">Phone number</label>
      <input type="text" class="form-control" name="phone_number" required placeholder="012387655" [(ngModel)]="employee.phone_number">
    </div>
    <div class="form-group">
      <label for="name">Mobile</label>
      <input type="text" class="form-control" name="mobile" placeholder="019387666" [(ngModel)]="employee.mobile">
    </div>

    <button class="btn btn-success" type="submit">Create Employee</button>

  </form >
</div>